{% extends 'base.html' %}
{% block head %}
    <title>Account Settings</title>
{% endblock %}

{% block body %}
    <form action="/account_settings" method="POST">
        <h1>User ID: {{ session['user'].id }}</h1>
        <h1>{{ session['user'].username }}'s account settings</h1>

        {{ form.hidden_tag() }}
        {{ form.username.label }}
        {{ form.username() }}
        <br>
        {{ form.old_password.label }}
        {{ form.old_password() }}
        <br>
        {{ form.new_password.label }}
        {{ form.new_password() }}
        <br>
        {{ form.confirm_password.label }}
        {{ form.confirm_password() }}

        {{ form.update() }}
    </form>

{% endblock %}