<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/style.css') }}">
    {% block head %}{% endblock %}
</head>

<body>
    {% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes" onclick="this.style.display='none';">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% endblock %}

    {% block body %}{% endblock %}
</body>
<script>
    const modal_container = document.getElementById('modal_container');
    const close_details = document.getElementById('close_details');

    close_details.addEventListener('click', () => {
        modal_container.classList.remove('show')
    })

    function displayDetails(author, title, summary) {
        console.log(summary)

        modal_container.classList.add('show')
        document.getElementById("displayTitle").innerHTML = "Title: " + title
        document.getElementById("displayAuthor").innerHTML = "Author: " + author
        document.getElementById("displaySummary").innerHTML = summary
    }
</script>
</html>